# PichFlow Platform Configuration
APP_URL="MY_APP_URL"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database (Turso libSQL)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# PayDunya Gateway (TEST Environment)
PAYDUNYA_MASTER_KEY=
PAYDUNYA_PRIVATE_KEY=
PAYDUNYA_PUBLIC_KEY=
PAYDUNYA_TOKEN=

# Authentication & Security
AUTH_SECRET=
ENCRYPTION_KEY=

# Email (SMTP Nodemailer)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM="noreply@pichflow.com"

